<div class="main">

  <div class="loginbox">
    <h2 class="login-title">Chef Registration</h2>
    <form class="login-form">

        <mat-form-field class="login-full-width">
            <input type="text" [formControl]="nameFormControl" matInput #name>
            <mat-placeholder class="placeholder">Full Name</mat-placeholder>
            <mat-error *ngIf="nameFormControl.hasError('required')">
              Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>


      <mat-form-field class="login-full-width">
        <input type="text" [formControl]="usernameFormControl" matInput #username>
        <mat-placeholder class="placeholder">Username</mat-placeholder>
        <mat-error *ngIf="usernameFormControl.hasError('required')">
          Username is <strong>required</strong>
        </mat-error>
        </mat-form-field>
    
      <mat-form-field class="login-full-width">
          <input type="password" [formControl]="passwordFormControl" matInput #password>
          <mat-placeholder class="placeholder">Password</mat-placeholder>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            password is <strong>required</strong>
          </mat-error>
          </mat-form-field>

      <mat-form-field class="login-full-width" >
        <input type="text" [formControl]="localityFormControl" matInput #locality>
        <mat-placeholder class="placeholder">Locality</mat-placeholder>
        <mat-error *ngIf="localityFormControl.hasError('required')">
          Locality is <strong>required</strong>
        </mat-error>
        </mat-form-field>

    <mat-form-field class="login-full-width">
      <input type="tel" [formControl]="contactFormControl" matInput minlength="10" maxlength="10" (keypress)=_keyPress($event) #contact>
        <mat-error *ngIf="contactFormControl.hasError('required')">
          Contact is <strong>required</strong>
        </mat-error>
        
        <mat-placeholder class="placeholder">Contact no</mat-placeholder>
  </mat-form-field>

  <mat-form-field class="login-full-width" >
    <input type="email" [formControl]="emailFormControl" matInput #emailid>
    <mat-placeholder class="placeholder">Email Id</mat-placeholder>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    </mat-form-field>

  <mat-form-field class="login-full-width" >
    <input type="text" [formControl]="foodstyleFormControl" matInput #foodstyle>
    <mat-placeholder class="placeholder">Food Style</mat-placeholder>
    <mat-error *ngIf="foodstyleFormControl.hasError('required')">
      Foodstyle is <strong>required</strong>
    </mat-error>
    </mat-form-field>

  <button mat-flat-button color="#ffffff" [mat-dialog-close] (click)="register(name.value, username.value, password.value,locality.value, contact.value, emailid.value, foodstyle.value)">Register</button>
    </form>
  
    
      
  </div>
  </div>
