<div class="main">
  <div class="loginbox">
    <form class="login-form">
        <mat-form-field class="login-full-width">
          <input type="date" matInput #bookingDate>
          <mat-placeholder class="placeholder">Select the Date</mat-placeholder>
        </mat-form-field>
      
        <mat-form-field class="login-full-width">
            <input type="time" matInput #bookingTime>
            <mat-placeholder class="placeholder">Select the Time</mat-placeholder>
          </mat-form-field>
      </form>
    </div>  
</div>
